.page {
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--main-text-color);
  line-height: var(--main-line-height);
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr auto;
  align-items: center;
  justify-items: end;
  padding: var(--main-padding);
}

.decorated-zone {
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-inline-start: var(--main-padding);
  inset-block-end: var(--main-padding);
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--button-color);
  border-inline-start: 1px solid var(--button-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-inline-end: var(--main-padding);
  inset-block-start: var(--main-padding);
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--button-color);
  border-inline-end: 1px solid var(--button-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--button-color);
  padding: 1.5px 13px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.title {
  color: var(--main-header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: 700;
}
